<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Al Amin Kitchen</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
  /* Flex table container */
  .table-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
  }
  
  /* Flex table row */
  .table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  /* Flex table cell */
  .table-cell {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid tomato;
    border-radius: 3px;
    text-align: center;
    width: 33%;
  }
  
  /* Flex table header cell */
  .table-header-cell {
    font-weight: bold;
  }
  
  /* Adjust table header cell text alignment */
  @media only screen and (max-width: 600px) {
    .table-header-cell, .table-cell {
      text-align: center;
    }
  }
  h1{
      text-align: center;
      color: tomato;
  }
  .container2{
      margin-top: 100px;
  }
  .cells{
      height: 100px;
      width:100px;
  }
  .button{
      width: 50px;
      height: 25px;
      background-color: tomato;
      border-radius: 5px;
      border: none;
      float: right;
      margin-top: 20px;
      margin: 10px;
  }
  .tag{
      text-decoration: none;
  }
  </style>
  </head>
  <body>
      <div class="container1">
          <h1>Categories</h1>
          <div class="table-container">
              <% if(locals.categories){ %>
              <% categories.forEach((category)=>{ %>
             <div class="table-row">
                <div class="table-cell"><a href="/menu/<%= category._id %>" class="tag"><%= category.categoryName %></a></div>
                <div class="table-cell"><a href="/updateCategory/<%= category._id %>" class="tag"><i class="material-icons" style="font-size:25px;color:red">update</i></a></div>
                <div class="table-cell"><a href="/deleteCategory/<%= category._id %>" class="tag"><i class="material-icons" style="font-size:25px;color:red">delete</i></a></div>
             </div>
             <% }); %>
             <% }; %>
          </div>
          <button  class="button"><a href="/" class="tag">back</a></button>
          <button  class="button"><a href="/addCategory" class="tag">Add</a></button>
      </div>
  
      <div class="container2">
          <h1>Images</h1>
          <div class="table-container">
              <% if(locals.carousels){ %>
              <% carousels.forEach((image) => { %>
              <div class="table-row">
                <div class="table-cell">
                  <img  src="data:image/<%=image.img.contentType%>;base64,
                  <%=image.img.data.toString('base64')%>" class="cells"  ondblclick="del('<%= image._id %>')">
                </div>
             </div>
             <% }); %>
             <% }; %>
          </div>
          <button  class="button"><a href="/addCarousel" class="tag">Add</a></button>
      </div>
  
  
      <script>
          function del(id){
              let cells = document.getElementById(id);
              window.location.href = "/deleteCarousel/" + id;
          }
      </script>
</body>
</html>